/* Stili generali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 60px; /* Aggiungi spazio superiore per l'header fisso */

}

.container {
    display: flex;
    flex-direction: column;
    align-items: top; /* posiziona i blocchi section del codice html */
    padding: 60px;

}

header {
    position: fixed; /* Fissa l'intestazione in alto */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff; /* Colore di sfondo bianco */
    border-bottom: 2px solid #ddd; /* Bordo inferiore per l'header */
    z-index: 1000; /* Mantieni l'header sopra altri elementi */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Aggiungi un po' di padding per l'header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi una leggera ombra */
}


/* Stili generali per il menu */
nav {
    position: relative;
    margin-right: 40px /* Sposta il blocco nav del codice html */
}

#menu-toggle {
    background: red;
    border: none;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    padding: 7px 12px; /* Imposta la dimensione del tasto menu */
    border-radius: 5px;
    display: none; /* Nascondi per schermi grandi */

}

#menu {
    list-style-type: none;
    padding: 90;
    position: absolute;
    top: 950px; /* Regola la posizione verticale */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Inizialmente nascosto */
    flex-direction: column; /* Assicura che gli elementi siano disposti in una colonna */
    z-index: 1000; /* Posiziona il menu sopra altri elementi */
}

#menu li {
    margin: 0;
}

#menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

#menu a:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

#menu.show {
    display: flex;
    flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        z-index: 1000;
}

/* Barra laterale (sidebar) */
.sidebar {
    display: none; /* Nascondi per schermi piccoli */
    width: 150px;
    background-color: #f4f4f4;
    padding-top: 10px;
/*    box-sizing: border-box;*/
    position: fixed;
    height: 100%;
    top: 100px;
    left: 0;

}

.menu {
/*    margin-top: 50px; /* Spazio dalla parte superiore */
	list-style-type: none; /* Rimuove i punti elenco */
	width: 100%
}

.menu ul {
    
    padding: 0; /* Rimuove il padding interno */
    margin: 0;
}

.menu ul li {
    margin: 20px 0; /* Spazio verticale tra gli elementi */
    padding-left: 20px; /* Spazio tra il testo e il bordo sinistro */
    display: flex;
    align-items: center;
}

.menu ul li a {
    text-decoration: none; /* Rimuove la sottolineatura dei link */
    color: #333; /* Testo nero */
    width: 100%;
    font-size: 20px; /* Dimensione del testo */
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
/*    display: block;*/
    width: 100%;

}

.menu ul li a:hover {
    background-color: #d1d1d1; /* Colore di sfondo al passaggio del mouse */
}

.menu ul li.active a {
    background-color: #0071CE; /* Colore di sfondo per l'elemento selezionato */
    color: #fff;
}

.menu ul li a:focus, .menu ul li a:active {
    background-color: #0071CE;
    color: #fff;
    outline: none;
}

.menu ul li a::before {
/*    content: '\2022'; /* Punto elenco personalizzato */
    margin-right: 1px;
    font-size: 20px;
}



/* Media query per schermi più grandi */
@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    .sidebar {
        display: block;
    }

	.container {
        margin-left: 120px; /* Margine per fare spazio alla sidebar */
        
    }

    #prodotti-section, #carrello-section {
        margin-left: 20px; /* Margine per fare spazio alla sidebar */
        display: block;
	    flex-direction: row;	
	    width: 100%;
	}

}

/* Media query per schermi più piccoli */
@media (max-width: 767px) {
    #menu-toggle {
        display: block;
    }

    .container {
    	display: block;

	    align-items: center;
	    padding: 70px;
	}

}

/* Stili per la sezione prodotti */
#prodotti-section {
    width: 100%;
    max-width: 2200px; /* Aumenta la larghezza massima per adattarsi alla griglia */
    margin-bottom: 20px;
    padding: 0px;
    position: relative;
	top: 0;

}

#prodotti-lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Griglia responsiva */
    gap: 5px; /* Spazio tra i pulsanti */
    
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: top;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9; /* Colore di sfondo dei prodotti */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
	top: 0;

}

.product-item:nth-child(odd) {
    background-color: #e0e0e0; /* Alterna il colore di sfondo */
}

/* Aggiungi stili per le categorie di prodotti */
.category-blue {
    background: linear-gradient(to bottom, #4a90e2, #003c71); /* Gradiente blu */
}

.category-blue-light {
    background: linear-gradient(to bottom, #4a90e2, #1c4f8c); /* Gradiente blu chiaro */
}

.category-purple {
    background: linear-gradient(to bottom, #9b59b6, #5b2c6f); /* Gradiente viola */
}

.category-purple-light {
    background: linear-gradient(to bottom, #9b59b6, #6c3483); /* Gradiente viola chiaro */
}

/* Aggiungi uno stile lucido */
.product-item button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.product-item button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* Stili per la sezione carrello */
#carrello {
    font-size: 120.2em;
}

#carrello-section {
    width: 100%;
    max-width: 2200px; /* Aumenta la larghezza massima per adattarsi alla griglia */
    margin-bottom: 1px;
}

#carrello-lista {
    list-style-type: none;
    padding: 0;
}

.carrello-item {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 305px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Stili per Pagina di Login */
#login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Aggiungi angoli arrotondati per una migliore estetica */
}

h2 {
    text-align: center;
    margin-bottom: 20px; /* Spazio sotto il titolo */
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px; /* Aggiungi angoli arrotondati agli input */
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Aumenta la dimensione del testo per una migliore leggibilità */
    transition: background-color 0.3s ease; /* Aggiungi transizione per effetto hover */
}

button:hover {
    background-color: #218838; /* Colore di sfondo al passaggio del mouse */
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Stili per il carrello */
#carrello {
    font-size: 1.2em;
}

#prodotti-section, #carrello-section {
    width: 100%;
    max-width: 1600px;
    margin-bottom: 20px;
}

#prodotti-lista, #carrello-lista {
    list-style-type: none;
    padding: 0;
}

.product-item, .carrello-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Stili per checkout.html */
#carrello-summary {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#clienti-lista {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.cliente-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Spazio tra gli elementi della lista */
    padding: 10px; /* Padding per ogni elemento cliente */
    border: 1px solid #ddd; /* Bordo sottile per ogni elemento cliente */
    border-radius: 5px; /* Angoli arrotondati */
    background-color: #f9f9f9; /* Colore di sfondo per ogni elemento cliente */
}

.cliente-item button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff; /* Colore di sfondo del bottone */
    color: white; /* Colore del testo del bottone */
    border-radius: 3px; /* Angoli arrotondati del bottone */
    cursor: pointer; /* Cursore a mano per il bottone */
    transition: background-color 0.3s ease; /* Transizione per il cambio di colore del bottone */
}

.cliente-item button:hover {
    background-color: #0056b3; /* Colore di sfondo del bottone al passaggio del mouse */
}

/* Stili per la pagina prodotti */
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

form input, form button {
    display: block;
    margin-bottom: 10px;
}

/* Stile per la tabella delle transazioni */
#transazioni-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#transazioni-table th, #transazioni-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#transazioni-table th {
    cursor: pointer;
    background-color: #f2f2f2;
}

/* Stile per l'input di ricerca */
#search-transazioni {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Stile per la pagina clienti */
#clienti-lista {
    margin-top: 20px;
}

#clienti-table {
    width: 100%;
    border-collapse: collapse;
}

#clienti-table th, #clienti-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#clienti-table th {
    background-color: #f2f2f2;
}

#form-sezione, #form-categoria-sezione {
    margin-top: 20px;
}

#form-sezione label, #form-categoria-sezione label {
    display: block;
    margin-top: 10px;
}

#form-sezione input, #form-categoria-sezione input, #form-categoria-sezione select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#csv-input {
    width: 100%;
    height: 100px;
    padding: 8px;
    box-sizing: border-box;
}

/* Stili per Dashboard Utenti */

#saldo {
    text-align: center;
    margin: 20px 0;
}

#saldo h2 {
    font-size: 24px;
    color: #333;
}

#saldo-valore {
    font-size: 48px;  /* Aumenta la dimensione del font */
    font-weight: bold; /* Rende il testo più spesso */
    color: #2a9d8f;    /* Cambia il colore per un maggiore contrasto */
    background-color: #f4a261; /* Aggiungi uno sfondo per evidenziarlo */
    padding: 20px;     /* Aggiungi padding per distanziare il testo dai bordi */
    border-radius: 10px; /* Rendi gli angoli arrotondati */
}

#grafico-prodotti {
    width: 100%; /* Occupa tutta la larghezza disponibile */
    max-width: 600px; /* Limita la larghezza massima */
    margin: 0 auto; /* Centra il grafico */
}

#grafico-prodotti canvas {
    width: 100% !important; /* Assicurati che il canvas sia responsivo */
    height: auto !important; /* Mantieni l'aspetto corretto */
}

/* Stili per il footer */
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

footer p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

.footer-nav {
    display: flex;
    gap: 20px;
        left: 150px;
}

.footer-link {
    color: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-icon {
    font-size: 1.2em;
    margin-right: 8px;
}
