body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.alert {
    color: red;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select, form button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
